<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--resultType：单条记录所封装的类型-->
<mapper namespace="com.yoyo.mapper.EmpMapper">
    <sql id="commonSelect">
        select * from emp
    </sql>

    <!--    <select id="listEmp" resultType="com.yoyo.pojo.Emp">-->
<!--        <include refid="commonSelect"/>-->
<!--        <where>-->
<!--            <if test="name!=null and name != ''">-->
<!--                name like concat('%', #{name}, '%')-->
<!--            </if>-->
<!--            <if test="gender!=null">-->
<!--                and gender=#{gender}-->
<!--            </if>-->
<!--            <if test="begin!=null and end !=null">-->
<!--                and entrydate between #{begin} and #{end}-->
<!--            </if>-->
<!--        </where>-->
<!--        limit #{page},#{pageSize}-->
<!--    </select>-->

<!--    <select id="countEmp" resultType="java.lang.Integer">-->
<!--        select count(*) from emp-->
<!--    </select>-->

        <select id="list" resultType="com.yoyo.pojo.Emp">
            <include refid="commonSelect"/>
            <where>
                <if test="name!=null and name != ''">
                    name like concat('%', #{name}, '%')
                </if>
                <if test="gender!=null">
                    and gender=#{gender}
                </if>
                <if test="begin!=null and end !=null">
                    and entrydate between #{begin} and #{end}
                </if>
            </where>
            order by update_time desc
        </select>
    <!--  例如delete from emp where id in (1,2,3)  -->
    <delete id="delete">
        delete
        from emp
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update emp
        <set>
            <if test="username!=null and username !=''">
                username=#{username},
            </if>
            <if test="name!=null and name !=''">
                name=#{name},
            </if>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
            <if test="image!=null and image !=''">
                image=#{image},
            </if>
            <if test="deptId!=null">
                dept_id=#{deptId},
            </if>
            <if test="entrydate!=null">
                entrydate=#{entrydate},
            </if>
            <if test="job!=null">
                job=#{job},
            </if>
        </set>
        where id=#{id}
    </update>


</mapper>